body {
    font-size: 10px;
    font-family: Arial,sans-serif;
    margin: 0px
}

#filebox {
    position: absolute;
    height: auto;
    bottom: 0;
    top: 0;
    left: 0;
    width: 173px;

}

#viewer {
    position: absolute;
    height: auto;
    left: 180px;
    bottom: 0;
    top: 0;
    right: 0px;
}

.box {
    margin: 10px;
    background: none repeat scroll 0 0 #F5F5F5;
    border: 1px solid #AAAAAA;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
}

.box-content {
    padding: 10px;
}

#right-sidebar {
    float:left;
    width: 180px;
}


#button-bar-horz > .tool-button:first-child {
    border-radius: 4px 0px 0px 4px;
    float: left;
    margin-left: 10px;
}

#button-bar-horz > .tool-button:last-child {
    border-radius: 0px 4px 4px 0px;
    margin-left: 0px;
    float: left;
}
#button-bar-horz > .tool-button {
    margin-left: 0px;
}

#button-bar-vert {
    margin: 20px;
}

#button-bar-vert > .tool-button:first-child {
    border-radius: 4px 4px 0px 0px;
}

#button-bar-vert > .tool-button:last-child {
    border-radius: 0px 0px 4px 4px;
}

#button-bar-vert > .tool-button {
    margin-top: 0px;
    border-radius: 0px 0px 0px 0px;
}

.tool-button { 
    float:left;
    background: -moz-linear-gradient(top, #ccc 40%, #eee 60%);
    border: 1px solid #aaa;
    border-radius: 2px 2px 2px 2px;
    width: 90px;
    height: 20px;
    font-size: 12px;
    text-align: center;
    padding-top: 2px;
    font-weight: bold;
    margin-left: 5px;
    margin-top: 2px;
}

.tool-button:hover { 
    background: #fff;
    cursor: pointer;

}

.butt-selected {
    background: #fff;
}

.slider-holder {
    margin-bottom: 10px;
    padding-right: 24px;
    padding-left: 10px;
}



#dicomheader {
    background: #000;
    color: #3f3;
}

td {
    padding:0;
    margin:0;
}
#viewer-bar {
    height: 25px;
    margin-bottom: 10px;
}

#viewer-bar >select {
    float:left;
    margin-left: 7px;
    margin-top: 1px;
}

#axial-view {
    float: right;
}

.ui-button-text {
    font-size: 10px;
}
/* ui-slider overrides */
.ui-slider-horizontal {
    height: 0.5em;
}

.ui-slider .ui-slider-handle {
    width: 1em;
    height: 1em;
}

#metadata-table {
    font-size: 10px;
    height: 500px;
    width: 584px;
    display: block;
    overflow: auto;
}

#metadata-table thead {
    font-weight: bold;
    background: #aaa;
}

tr.even {
    background: #eee;
}

#tool-box {
    float: left;
    width: 150px;
}

.tool-group {
    border: 1px solid;
    border-radius: 7px 7px 7px 7px;
    margin-bottom: 5px;
}

.tool-group h2 {
    margin: 0px;
}

#series-selection {
    min-height: 200px;
    border: 1px solid #aaa;
    list-style:none;
    padding: 0px;
    margin-top: 38px;
}

#series-selection > li {
    margin: 0px;
    padding: 0px;
}


.series-link {
    cursor: pointer;
}

.series-link > canvas{
    margin: 10px;
}
.series-selected > canvas {
    font-weight: bold;
    border: 1px solid #fff;
    box-shadow: 0 0 8px;
}

#view-area {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    top: 70px;
}

#c1 {
    border: 1px solid #aaa;
}

.box h2 {
    -moz-border-bottom-colors: none;
    background: -moz-linear-gradient(center top , #829AA8, #405A6A) repeat scroll 0 0 transparent;
    border-color: #677C89 #677C89 #6B808D;
    border-radius: 5px 5px 0 0;
    border-style: solid;
    border-width: 1px;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    padding: 3px 13px;
    position: relative;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.7);
}

#dcminfo1 {
    position: absolute;
    top: 66px;
    color: white;
    font-size: 14px;
}

#dcminfo1 ul {
    padding-left: 18px;
}
#dcminfo1 li {
    list-style: none;
    padding-left: 0px;
}

#dcminfo1 li p {
    float: left;
    padding: 0px;
    margin: 0px;
}

.img-info-label {
    width: 50px;
}

/* Transition stuffs */
.flipper .front {
    -moz-backface-visibility: hidden;
    -moz-transform: rotateY(0deg);
    -moz-transition: all 0.4s ease-in-out 0s;
    background: none repeat scroll 0 0 #6B7077;
    border: 1px solid #CCCCCC;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.9);
    height: inherit;
    position: absolute;
    z-index: 900;
    perspective: 150px;
}
.flipper.flipped .front {
    -moz-transform: rotateY(180deg);
}

.flipper .back {
    -moz-backface-visibility: hidden;
    -moz-transform: rotateY(-180deg);
    -moz-transition: all 0.4s ease-in-out 0s;
    -moz-transform-style: preserve-3d;
    -moz-transform-origin: 100% 100%;
    border: 1px solid #CCCCCC;
    float: none;
    height: inherit;
    position: absolute;
    z-index: 800;
    perspective: 150px;
}

.flipper.flipped .back {
    -moz-transform: rotateY(0deg);
}

